$white: #fff;
$main_dark: #173d33;
$accent: #97d28b;
$accent_hover: #173d33;
$light_green: #dcefd8;
$background: #f3f5fa;
$background_grey: #eaedf1;
$transparent: rgba(255, 255, 255, 0.25);
$error: #d28b8b;
