@import "/app/variables.scss";

.section {
  padding-top: 36px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }
}

.container {
  @media (min-width: 768px) {
    display: flex;
    gap: 24px;
  }
}

.mob_title {
  @media (min-width: 768px) {
    display: none;
  }
}

.desk_title {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.list {
  margin-bottom: 36px;

  @media (min-width: 768px) {
    width: 342px;
    padding-top: 7px;
    margin-bottom: 0;
  }
}

.card {
  padding: 16px 0;
  border-top: 1px solid $accent;

  @media (min-width: 768px) {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.question_title {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.text {
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin: 16px 0 0 24px;
}

.contact_text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.contact_btn {
  width: 130px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-left: 85px;
  }
}

.title_wrap {
  @media (min-width: 768px) {
    width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
