@import "/app/variables.scss";

.title {
  font-family: var(--font-oswald);
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 0;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
  }
}
