@import "/app/variables.scss";

.wrap {
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: 768px) {
    width: 353px;
    height: 73px;
    padding-left: 9px;
    border-left: 1px solid $accent;
    left: 50%;
  }

  @media (min-width: 1280px) {
    width: 50%;
    height: 96px;
    padding-left: 161px;
  }
}

.count {
  color: rgba(23, 61, 51, 0.25);
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.12px;
}

.btn_wrap {
  width: 144px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;

  @media (min-width: 1280px) {
    width: 192px;
  }
}

.button {
  width: 66px;
  height: 66px;
  padding: 15px;
  border: none;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid $main_dark;
  transition: border-color 300ms linear;
  cursor: pointer;

  &:hover {
    border-color: $accent;

    .icon {
      stroke: $accent;
    }
  }

  @media (min-width: 1280px) {
    width: 84px;
    height: 84px;
  }
}

.icon {
  stroke: $main_dark;
  transition: stroke 300ms linear;
}
